@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3.5rem;
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: #A395E9;
  --first-color-alt: #9584E6;
  --title-color: #FFFFFF;
  --text-color: #BABEC4;
  --text-color-light: #BABEC4;
  --body-color: #0B111E;
  --container-color: #151C28;
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  --font-medium: 500;
  --font-semibold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover {
  color: var(--first-color);
}

body.light-theme {
  --first-color: hsl(var(--second-hue), 64%, 40%);
  /* Rich, dark contrast color for text */
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: #9FB1C7;
  /* Softer, slightly darker cloudy slate */
  --container-color: #D3DDEB;
  /* More muted container color */
}

.light-theme .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

.light-theme .nav_menu {
  background-color: hsla(var(--second-hue), 32%, 90%, .8);
}

.light-theme .section_subtitle {
  color: var(--text-color);
}

.light-theme .home_social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme .home_social::after,
.light-theme .footer_social-link {
  background-color: var(--title-color);
}

.light-theme .home_social-link,
.light-theme .home_scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer_title,
.light-theme .footer_link {
  color: var(--title-color);
}

.light-theme.work_card,
.lgight-theme .testimonial_card,
.light-theme.contact_card {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);

}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-hover {
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
  padding-bottom: 6rem;
  /* Extra padding to prevent floating nav from locking over bottom content */
}

.section {
  padding: 4.5rem 0 1rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section_subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-bottom: 0.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transHead {
  opacity: 0;
}

.nav_logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
  display: block;
}

.nav_logo2 {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
  position: fixed;
  left: 16px;
  top: 15px;
}

.nav_logo:hover {
  color: var(--first-color-alt);
}

.nav_menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: .4s;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
}

.active-link {
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), .2));
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
  color: var(--title-color);
}

.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

.home_container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 5rem;
  min-height: 100vh;
}

.home_data {
  text-align: center;
}

.home_greeting,
.home_education {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_greeting {
  display: block;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.home_education {
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home_name {
  font-size: var(--biggest-font-size);
}

.home_img {
  width: 160px;
}


.home_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.home {
  background-image: url("../img/bg/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* ensuring the poster centers well */
  height: 100vh;
  position: relative;
}

.home::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  /* Big smooth fade area */
  background: linear-gradient(to bottom, transparent, var(--body-color));
  pointer-events: none;
  /* Allows clicks to pass through */
  z-index: 0;
}

.home_data {
  position: relative;
  z-index: 10;
}

.home dotlottie-wc {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.home_social,
.home_scroll {
  position: absolute;
  z-index: 10;
}

.home_social {
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;
}

.home_social-link {
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.home_social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}

.home_social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home_scroll {
  color: var(--first-color);
  right: -1.5rem;
  bottom: 5rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
  animation: MoveUpDown 1.5s linear 3s infinite;
}

.home_scroll-icon {
  font-size: 1.25rem;
}

.home_scroll-name {
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.work_container {
  padding-top: 1rem;
}

.work_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.fll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.75rem;
}

.work_item {
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}

.work_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.work_card:hover {
  transform: translateY(-5px);
}

.work_img {
  width: 100%;
  height: 100px;
  object-fit: scale-down;
  border-radius: 10px;
  margin-bottom: 1px;
}

.work_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.work_subtitle {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.work_button {
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  display: inline;
}

.work_button:hover .work_icon {
  transform: translateX(.25rem);
}

.wbtn {
  margin-top: auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.work_icon {
  font-size: 1rem;
  transition: .4s;
}


.active-work {
  background-color: var(--first-color);
  color: var(--body-color);
}

.testimonial_container {
  overflow: hidden;
}

.testimonial_card {
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial_avatar {
  width: 60px;
  border-radius: 3rem;
  flex-shrink: 0;
}

.testimonial_header {
  display: flex;
  align-items: center;
  gap: .75rem;
  margin-bottom: .75rem;
}

.testimonial_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  transition: .3s;
}

.testimonial_name:hover {
  color: var(--first-color);
}

.testimonial_review {
  font-size: var(--small-font-size);
}

.swiper-pagination-bullet {
  background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.contact_container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact_title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact_info {
  display: grid;
  gap: 1rem;
}

.contact_card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact_card-icon {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: .25rem;
}

.contact_card-title,
.contact_card-data {
  font-size: var(--small-font-size);
}

.contact_card-title {
  font-weight: var(--font-medium);
}

.contact_card-data {
  display: block;
  margin-bottom: .75rem;
}

.contact_button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact_button:hover .contact_button-icon {
  transform: translateX(.25rem);
}

.contact_button-icon {
  font-size: 1rem;
  transition: .4s;
}

.contact_form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact_form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact_form-area {
  height: 11rem;
}

.contact_form-area textarea {
  resize: none;
}

.footer {
  background-color: #9FB1C7;
}

.footer_container {
  padding: 2rem 0 6rem;
}

.footer_title,
.footer_link {
  color: var(--body-color);
}

.footer_title {
  text-align: center;
  margin-bottom: 2rem;
}

.footer_list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer_social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer_social-link {
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer_copy {
  display: block;
  margin-top: .5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

@media screen and (max-width: 320px) {
  .nav_menu {
    padding: 1rem 1.5rem;
  }

  .home_buttons {
    flex-direction: column;
  }

  .home_img {
    width: 130px;
  }

  .work_container {
    justify-content: center;
  }

  .work_item {
    font-size: var(--small-font-size);
  }

  .work_filters {
    column-gap: .25rem;
  }
}

@media screen and (min-width: 576px) {
  .nav_menu {
    width: 328px;
  }

  .contact_info {
    grid-template-columns: 300px;
    justify-content: center;
  }

  .contact_form {
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .work_container {
    grid-template-columns: 1.25fr 1fr;
  }

  .work_card:nth-child(1) {
    grid-row: span 2;
  }

  .work_card:nth-child(1) .work_img {
    height: 100%;
    max-height: 250px;
  }

  .contact_container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 992px) {

  .nav_menu {
    width: 500px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }

  .section {
    padding: 3.5rem 0 1rem;
  }

  .section_title {
    margin-bottom: 3.5rem;
  }

  .home_img {
    width: 220px;
  }

  .home_social-link {
    padding: .4rem;
    font-size: 1.25rem;
  }

  .home_social::after {
    transform: rotate(90deg) translate(16px, 0);
  }

  .home_scroll-icon {
    font-size: 2rem;
  }

  .work_container {
    gap: 2rem;
    grid-template-columns: 1.5fr 1fr;
  }

  .work_card:nth-child(1) .work_img {
    max-height: 350px;
  }

  .work_card {
    padding: 1.25rem;
  }

  .work_img {
    margin-bottom: 1rem;
  }

  .work_title {
    margin-bottom: .5rem;
  }

  .contact_container {
    column-gap: 6rem;
  }
}